#showImage {
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 100%;
}

.dropdown {
    background-color: #FCC822;
    padding: 2px 10px;
    border-radius: 10px !important;
}

.dropdown a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #333333;
}

.nav-link {
    color: #333333 !important;
}